.countCart{
  width: 100%;
  justify-content:center;
  display: block;
  margin-top: 20px;
}

.itemSelect{
  margin-top: 20px;
}

.countCart{
  width: 100%;
  justify-content:center;
  display: block;
  margin-top: 20px;
}

.itemSelect{
  margin-top: 20px;
}
.btn{
  margin-top: 20px;
}

@media(max-width:768px){
  button{
    width:30%;
    margin: 0 auto;
  }
  
}